@font-face {
    font-family: 'YEKANBAKH-BOLD';
    src: local('YEKANBAKH-BOLD'), url('./fonts/YEKANBAKH-BOLD.TTF')
    
    
     format('truetype');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: YEKANBAKH-BOLD;
  }
  
  body {
   
    font-family: YEKANBAKH-BOLD;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ebba86;
    background-repeat:no-repeat;
    background-size:cover;
   
    
    }
    
  